[defaults]
roles_path = roles
host_key_checking = True
interpreter_python = /usr/bin/python3
stdout_callback = default
retry_files_enabled = False
forks = 10
timeout = 30

[ssh_connection]
pipelining = True
